.ticket {
    -fx-text-fill: #333333;
    -fx-background-color: #FFFF99;
    -fx-effect: dropshadow(gaussian, #808080, 5, 0.25, 2, 2);
    /*-fx-background-color: #FFC0CB;*/
    /*-fx-background-color: #AA00FF;*/
    /*-fx-background-color: #60A917;*/
}
